<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function deleteAppointment(id) {
            fetch(`/delete/${id}`, {
                method: 'DELETE',
            })
            .then((res) => {
                if (res.status === 200) {
                    window.location.href = '/'
                }
            })
        }
    </script>
    <title>Appointment</title>
  </head>
  <body class="h-full bg-gray-900">
      <a href="/addNew">
          <div class="rounded-[50%] bg-green-400 p-4 fixed top-[85vh] right-[3%]">
                <img src="/assets/plus.png" alt="plus" class="w-6 h-6" />
          </div>
      </a>
    <div class="w-full flex flex-col items-center text-lg text-white">
      <h1 class="text-3xl font-bold p-4">Your Appointments</h1>
      <div class="text-green-400 mt-10"><%= message %></div>
      <section class="text-white w-2/5">
        <% appointments.forEach((appointment) => { %>
        <div class="bg-gray-800 p-4 my-4 w-full rounded-md border border-green-400">
          <div class="flex flex-row justify-between items-baseline w-full">
            <div class="text-2xl font-bold"><%= appointment.title %></div>
            <div class="flex flex-row">
                <a href="/edit/<%= appointment.id %>">
                    <img src="/assets/edit.png" alt="edit" class="w-6 h-6 mr-2 cursor-pointer" />
                </a>
                <a href="#"
                onclick="deleteAppointment('<%= appointment.id %>')"
                >
                    <img src="/assets/trash.png" alt="edit" class="w-6 h-6 mr-2 cursor-pointer" />
                </a>
            </div>
          </div>
          <div class="flex flex-row justify-between items-baseline">
              <div class="flex flex-col text-gray-200 py-1">
                  <div class="text-sm">From: <%= appointment.from %></div>
                  <div class="text-sm">To: <%= appointment.to %></div>
              </div>
            <div class="text-sm"><%= appointment.date %></div>
          </div>
          <div class="font-semibold text-justify"><%= appointment.description %></div>
        </div>
        <% }); %>
      </section>
    </div>
  </body>
</html>
