<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function deleteAppointment(id) {
            fetch(`/delete/${id}`, {
                method: 'DELETE',
            })
            .then((res) => {
                if (res.status === 200) {
                    window.location.href = '/'
                }
            })
        }
    </script>
    <title>Appointment</title>
  </head>
  <body class="h-full bg-gray-800">
    <%- include('add.ejs') %>
          <div class="rounded-[50%] bg-green-500 p-4 fixed top-[85vh] right-[3%] hover:bg-green-400" id="open-btn">
                <img src="/assets/plus.png" alt="plus" class="w-6 h-6" />
          </div>
    <div class="w-full flex flex-col items-center text-lg text-white">
      <h1 class="text-3xl font-bold p-4 text-yellow-400">Appointments</h1>
      <section class="text-white w-2/5 min-w-fit">
        <% appointments.forEach((appointment) => { %>
        <div class="bg-gray-700 p-4 my-4 w-full rounded-md hover:border border-green-400">
          <div class="flex flex-row justify-between items-baseline w-full">
            <div class="text-2xl font-bold capitalize text-yellow-300"><%= appointment.title %></div>
            <div class="flex flex-row">
                <a href="/edit/<%= appointment.id %>">
                    <img src="/assets/edit.png" alt="edit" class="w-6 h-6 mr-4 cursor-pointer hover:scale-110" />
                </a>
                <a href="#"
                onclick="deleteAppointment('<%= appointment.id %>')"
                >
                    <img src="/assets/trash.png" alt="edit" class="w-6 h-6 mr-2 cursor-pointer hover:scale-110" />
                </a>
            </div>
          </div>
          <div class="flex flex-row justify-between items-center text-green-300">
              <div class="flex flex-col py-1">
                  <div class="text-base">From: <%= appointment.from %></div>
                  <div class="text-base">To: <%= appointment.to %></div>
              </div>
            <div class="text-base"><%= appointment.date %></div>
          </div>
          <div class="text-justify text-lg"><%= appointment.description %></div>
        </div>
        <% }); %>
      </section>
    </div>
    <script>
      const openBtn = document.getElementById('open-btn');
      const closeBtn = document.getElementById('close-btn');
      const modal = document.getElementById('add-modal');
      const modalContainer = document.getElementById('modal-container');

      openBtn.addEventListener('click', () => {
        modal.classList.remove('hidden');
        // modalContainer.classList.remove('hidden');
      });

      closeBtn.addEventListener('click', () => {
        modal.classList.add('hidden');
        // modalContainer.classList.add('hidden');
      });
    </script>
  </body>
</html>
